* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1024px;
    margin: auto;
  }
.spacing {
    padding: 0 16px;
}
  .artist_name {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 1px solid #2C2727;
  }
  .icon_wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  .icon_wrapper-title {
    display: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .artist_description{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 13px 0 34px 0;
  }
  .img_wrapper {
      width: 130px;
      height: 130px;
  }
  .img_wrapper  img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  .description_wrapper{
      margin-left: 34px;
  }
  .description_wrapper span{    
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .description_wrapper p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 8px;
  }
  .art {
      width: 100%;
      height: 422px;
      max-height: 422px;
  }
  @media only screen and (max-width: 1024px) {
    .container {
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    .artist_description{
        flex-direction: column;
        justify-content: center;
    }
    .description_wrapper {
        margin-left: 0;
    }
    .icon_wrapper {
        justify-content: space-between;
    }
    .icon_wrapper-title {
        display: flex;
    }
    .description_wrapper span {
        display: none;
    }
    .artist_description{
        margin: 13px 0 27px 0;
    }
    /* .art {
        height: 422px;
        max-height: 422px;
    } */
  }